
@import 'variables';
.tsText {
    margin: $m;
}
#img1Ts {
    width: 100%; 
    height: 400px;
}
#img2Ts {
    width:30% ; 
    height: auto;
    position: relative;
    float: right;
    margin-right: 1%;
    margin-top: 9%;
    margin-bottom: 9%;
}
#pTs {
    margin-top: 2%;
    width:100%; 
    height: auto;
    line-height: 1.5;
}
h1 {
    font-size: 24px;
}

